<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reminder</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="custom_background">
    <div id="container">
        <h1>Join</h1>
    <form action="join-room" method="POST">
        <label for="room_id">Room ID</label>
        <input type="text" id="room_id" name="roomId" required>
        <button type="submit" class="btn">Join</button>
    </form>
    </div>
</body>
</html>