<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="t03. Main Page">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="custom_background">
<div id="container">
    <h1>Room selection</h1>
    <form action="/waiting-room/create-waiting-page" method="GET">
        <button type="submit" class="btn">Create Room</button>
    </form>

    <form action="/waiting-room/create-join-page" method="GET">
        <button type="submit" class="btn">Join Room</button>
    </form>
</div>
</body>
</html>