<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reminder</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="custom_background">
    <div id="container">
        <h1>Waiting players...</h1>
    <form class="password-reminder-form"  method="GET">
        <h1 id="room"></h1>
    </form>
    </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const roomId = urlParams.get('roomId');
        console.log('Script loaded');
        document.getElementById("room").innerHTML = `Room id: <strong>${roomId}</strong>`;

        // Функция для проверки статуса комнаты
        function checkRoomStatus() {
            fetch(`/waiting-room/status/${roomId}`)
                .then(response => response.json())
                .then(data => {
                    console.log('Room status:', data);
                    if (data.room.players && data.room.players.length === 2) {
                        // Если два игрока в комнате, перенаправляем на игровую страницу
                        window.location.href = `/game/start-game-page?roomId=${roomId}`;
                    }
                })
                .catch(error => {
                    console.error('Error fetching room status:', error);
                });
        }

        setInterval(checkRoomStatus, 1000);

    </script>
</body>